/* Typography */

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Share Tech', sans-serif;
}

h6, p, li, a {
    font-family: 'Alegreya Sans', sans-serif;
}

li, a {
    font-size: 1em;
}

/* Navigation */

header {
    background-color: #e5eff7;
}

a.navbar-brand {
    font-family: 'Khand', sans-serif;
    font-size: 1.65em;
    font-weight: 600;
}

/* Banner */

div.jumbotron div.container h4,
div.jumbotron div.container h2 {
    text-align: right;
}

div.banner {
    margin-bottom: 0;
    padding: 5.75em 1.75em 0 1.75em;
    background-color: #c6daee;
}

div.banner-text-background {
    background-color: #e5eff7;
    padding: 1.25em 0.75em 0.75em 0.75em;
}

/* Sensor Processors */

section.sensor-processors {
    padding: 1.75em 0;
}

div.phone-number {
    background-color: #e5eff7;
    padding: 0.75em;
}

div.phone-number h2,
div.phone-number h6 {
    text-align: right;  
}

div.watch-video h3,
div.watch-video h5 {
    display: inline-block;
}

div.watch-video h3 {
    margin-right: 0.75em;
}

section.sensor-processors p {
    font-size: 1.15em;
}

div.watch-video i {
    margin: 0.25em;
}

div.home-page-img-divider {
    height: 195px;
}

/* Deployed Ready Solutions */

section.deployed-ready-solutions li,
.navbar-nav li {
    font-size: 1.15em;
}

div.feature-month {
    height: auto;
    width: 100%;
    padding: 3em 2em;
    margin: 0;
}

div.feature-month h3,
div.feature-month h5 {
    text-align: center;
}

/* Footer */

footer {
    background-color: #c6daee;
    padding: 1.75em 0;
}

footer h4,
footer h6 {
    margin: 0;
    text-align: center;
}




