/* Typography */

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Share Tech', sans-serif;
}

h6, p, li, a {
    font-family: 'Alegreya Sans', sans-serif;
}

li, a {
    font-size: 1em;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid #3a69b5;
}

/* Navigation */

header {
    background-color: #e5eff7;
}

a.navbar-brand {
    font-family: 'Khand', sans-serif;
    font-size: 1.65em;
    font-weight: 600;
}

a.navbar-brand:hover {
    border-bottom: none;
}

ul.navbar-nav li.nav-item {
    padding: 0.25em 0.75em 0; 
}

ul.navbar-nav a.nav-link {
    padding: 0!important;
}

ul.navbar-nav a.nav-link:hover {
    border-bottom: 1px solid #000;
}

/* Banner */

div.jumbotron div.container h4,
div.jumbotron div.container h2 {
    text-align: right;
}

div.banner {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    padding: 5.75em 1.75em 0 1.75em;
    height: 350px;
    background-image: url(../images/d-ta-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
}

div.banner h2 {
    color: #3a69b5;
    font-size: 2.25em;
}

div.banner-text-background {
    background-color: rgba(229, 239, 247, 0.90);
    padding: 1.25em 1.75em 0.75em 0.75em;
}

/* Sensor Processors */

section.sensor-processors {
    padding: 2.75em 15px;
}

.dark-blue {
    color: #3a69b5;
}

div.phone-number {
    background-color: #e5eff7;
    padding: 1.25em 1.25em 0.75em;
}

div.phone-number h2,
div.phone-number h5 {
    text-align: right;  
}

div.phone-number h2 {
    font-size: 2.25em;
}

div.watch-video h3,
div.watch-video h5 {
    display: inline-block;
}

div.watch-video h3 {
    margin-right: 0.75em;
}

section.sensor-processors p {
    font-size: 1.15em;
}

div.watch-video i {
    margin: 0.25em;
}

div.home-page-img-divider {
    height: 195px;
    background-image: url(../images/pattern.jpg);
    background-repeat: no-repeat;
    background-position: top;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
}

/* Deployed Ready Solutions */

section.deployed-ready-solutions li,
.navbar-nav li {
    font-size: 1.15em;
}

section.deployed-ready-solutions > div {
    padding: 1.25em 0;
}

div.feature-month {
    height: auto;
    width: 100%;
    padding: 2.25em 2em;
    margin: 0;
    background-color: #e5eff7;
}

a.monthly-feature,
h5.monthly-feature {
    color: #000;
    font-family: 'Alegreya Sans', sans-serif;
}

a.monthly-feature:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

div.feature-month h3,
div.feature-month h5 {
    text-align: center;
}

/* Footer */

footer {
    background-color: #c6daee;
    padding: 1.75em 0;
}

footer h4,
footer h6 {
    margin: 0;
    text-align: center;
}

footer h4 {
    margin-bottom: 0.75em;
}

footer div.social-media-icons {
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer div.social-media-icons a {
    color: #000;
}

footer div.social-media-icons a:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

footer div p {
    display: inline-block;
    margin-right: 1.25em;
}

footer div p:last-child {
    margin-right: 0;
}

footer div p i {
    margin-right: 0.45em;
}




